# PySpark Spark SQL

##### Instalando PySpark

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

## Spark SQL - Consultas e Seleções

In [3]:
df = spark.sql('''select 'OK' as Status''')
df.show()

+------+
|Status|
+------+
|    OK|
+------+

## Importing Data

In [4]:
df = spark.read.csv('/content/drive/MyDrive/6. Estudos/1. FIAP/Fase 3 - Big Data/bases/cereal.csv', sep=',', inferSchema = True, header = True)
df.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
|           Bran Chex|  R|   C|      90|      2|  1|   200|  4.0| 15.0|     6|   125|      25|    1|   1.0|0.67|49.120253|
|         Bran Flakes|  P|   C|      90|      3|  0|   210|  5.0| 13.0|     5|   190|      25|    3|   1.0|0.67|53.313813|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|  0.0| 12.0|    12|    35|      25|    2|   1.0|0.75|18.042851|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|  0.0| 13.0|     9|    45|      25|    2|   1.0|0.75|19.823573|
|            Clusters|  G|   C|     110|      3|  2|   140|  2.0| 13.0|     7|   105|      25|    3|   1.0| 0.5|40.400208|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    55|      25|    2|   1.0| 1.0|22.736446|
|           Corn Chex|  R|   C|     110|      2|  0|   280|  0.0| 22.0|     3|    25|      25|    1|   1.0| 1.0|41.445019|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|       Count Chocula|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    65|      25|    2|   1.0| 1.0|22.396513|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 20 rows

## Manipulation Data With Spark SQL

In [5]:
# cria uma tabela temporária dentro da Sessão
df.createOrReplaceTempView('cereal')

In [6]:
# base criada no SQL
cereal = spark.sql('''SELECT * FROM cereal WHERE type = 'C' ''')
cereal.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
|           Bran Chex|  R|   C|      90|      2|  1|   200|  4.0| 15.0|     6|   125|      25|    1|   1.0|0.67|49.120253|
|         Bran Flakes|  P|   C|      90|      3|  0|   210|  5.0| 13.0|     5|   190|      25|    3|   1.0|0.67|53.313813|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|  0.0| 12.0|    12|    35|      25|    2|   1.0|0.75|18.042851|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|  0.0| 13.0|     9|    45|      25|    2|   1.0|0.75|19.823573|
|            Clusters|  G|   C|     110|      3|  2|   140|  2.0| 13.0|     7|   105|      25|    3|   1.0| 0.5|40.400208|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    55|      25|    2|   1.0| 1.0|22.736446|
|           Corn Chex|  R|   C|     110|      2|  0|   280|  0.0| 22.0|     3|    25|      25|    1|   1.0| 1.0|41.445019|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|       Count Chocula|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    65|      25|    2|   1.0| 1.0|22.396513|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 20 rows

In [7]:
df = df.where(df['type'] == 'C')
# base criada no Python
df.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
|           Bran Chex|  R|   C|      90|      2|  1|   200|  4.0| 15.0|     6|   125|      25|    1|   1.0|0.67|49.120253|
|         Bran Flakes|  P|   C|      90|      3|  0|   210|  5.0| 13.0|     5|   190|      25|    3|   1.0|0.67|53.313813|
|        Cap'n'Crunch|  Q|   C|     120|      1|  2|   220|  0.0| 12.0|    12|    35|      25|    2|   1.0|0.75|18.042851|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|
|Cinnamon Toast Cr...|  G|   C|     120|      1|  3|   210|  0.0| 13.0|     9|    45|      25|    2|   1.0|0.75|19.823573|
|            Clusters|  G|   C|     110|      3|  2|   140|  2.0| 13.0|     7|   105|      25|    3|   1.0| 0.5|40.400208|
|         Cocoa Puffs|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    55|      25|    2|   1.0| 1.0|22.736446|
|           Corn Chex|  R|   C|     110|      2|  0|   280|  0.0| 22.0|     3|    25|      25|    1|   1.0| 1.0|41.445019|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|       Count Chocula|  G|   C|     110|      1|  1|   180|  0.0| 12.0|    13|    65|      25|    2|   1.0| 1.0|22.396513|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 20 rows

## Select no SparkSQL

In [8]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- protein: integer (nullable = true)
 |-- fat: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: integer (nullable = true)
 |-- potass: integer (nullable = true)
 |-- vitamins: integer (nullable = true)
 |-- shelf: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [9]:
df.createOrReplaceTempView('cereal')

In [10]:
cereal = spark.sql(''' SELECT DISTINCT type, mfr FROM cereal ''')
cereal.count()

6

## WHERE no Spark SQL

In [11]:
cereal = spark.sql(''' SELECT * FROM cereal WHERE mfr = 'K' ''')
cereal.count()

23

In [12]:
cereal = spark.sql(''' SELECT * FROM cereal WHERE calories = 100 ''')
cereal.count()

14

In [13]:
cereal = spark.sql(''' SELECT * FROM cereal WHERE mfr = 'K' AND calories >= 100 ''')
cereal.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
|             Crispix|  K|   C|     110|      2|  0|   220|  1.0| 21.0|     3|    30|      25|    3|   1.0| 1.0|46.895644|
|         Froot Loops|  K|   C|     110|      2|  1|   125|  1.0| 11.0|    13|    30|      25|    2|   1.0| 1.0|32.207582|
|      Frosted Flakes|  K|   C|     110|      1|  0|   200|  1.0| 14.0|    11|    25|      25|    1|   1.0|0.75|31.435973|
| Frosted Mini-Wheats|  K|   C|     100|      3|  0|     0|  3.0| 14.0|     7|   100|      25|    2|   1.0| 0.8|58.345141|
|       Fruitful Bran|  K|   C|     120|      3|  0|   240|  5.0| 14.0|    12|   190|      25|    3|  1.33|0.67|41.015492|
|Just Right Crunch...|  K|   C|     110|      2|  1|   170|  1.0| 17.0|     6|    60|     100|    3|   1.0| 1.0|36.523683|
|Just Right Fruit ...|  K|   C|     140|      3|  1|   170|  2.0| 20.0|     9|    95|     100|    3|   1.3|0.75|36.471512|
|Mueslix Crispy Blend|  K|   C|     160|      3|  2|   150|  3.0| 17.0|    13|   160|      25|    3|   1.5|0.67|30.313351|
|    Nut&Honey Crunch|  K|   C|     120|      2|  1|   190|  0.0| 15.0|     9|    40|      25|    2|   1.0|0.67|29.924285|
|Nutri-Grain Almon...|  K|   C|     140|      3|  2|   220|  3.0| 21.0|     7|   130|      25|    3|  1.33|0.67| 40.69232|
|          Product 19|  K|   C|     100|      3|  0|   320|  1.0| 20.0|     3|    45|     100|    3|   1.0| 1.0| 41.50354|
|         Raisin Bran|  K|   C|     120|      3|  1|   210|  5.0| 14.0|    12|   240|      25|    2|  1.33|0.75|39.259197|
|       Rice Krispies|  K|   C|     110|      2|  0|   290|  0.0| 22.0|     3|    35|      25|    1|   1.0| 1.0|40.560159|
|              Smacks|  K|   C|     110|      2|  1|    70|  1.0|  9.0|    15|    40|      25|    2|   1.0|0.75|31.230054|
|           Special K|  K|   C|     110|      6|  0|   230|  1.0| 16.0|     3|    55|      25|    1|   1.0| 1.0|53.131324|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+

## Group By

In [14]:
cereal = spark.sql(''' SELECT mfr, type, COUNT(*) AS total, SUM(calories) AS total_calories FROM cereal GROUP BY mfr, type ''')
cereal.show()

+---+----+-----+--------------+
|mfr|type|total|total_calories|
+---+----+-----+--------------+
|  P|   C|    9|           980|
|  K|   C|   23|          2500|
|  G|   C|   22|          2450|
|  Q|   C|    7|           660|
|  R|   C|    8|           920|
|  N|   C|    5|           420|
+---+----+-----+--------------+

## CASE WHEN

In [15]:
cereal = spark.sql(''' SELECT DISTINCT type FROM cereal ''')
cereal.show()

+----+
|type|
+----+
|   C|
+----+

In [16]:
cereal = spark.sql(''' SELECT mfr, type,
                              (CASE
                                WHEN type = 'C' then 'A'
                                WHEN type = 'H' then 'B'
                                else 'C' end) AS type_new,
                                -- comentários devem ser precedidos de dois tracinhos
                              count(*) AS total,
                              sum(calories) as total_calories
                              FROM cereal
                              GROUP BY mfr, type ''')
cereal.show()

+---+----+--------+-----+--------------+
|mfr|type|type_new|total|total_calories|
+---+----+--------+-----+--------------+
|  P|   C|       A|    9|           980|
|  K|   C|       A|   23|          2500|
|  G|   C|       A|   22|          2450|
|  Q|   C|       A|    7|           660|
|  R|   C|       A|    8|           920|
|  N|   C|       A|    5|           420|
+---+----+--------+-----+--------------+

# Consultas Avançadas em SQL usando o PySpark

In [17]:
df.show(5)

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|           100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|   100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|            All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
|All-Bran with Ext...|  K|   C|      50|      4|  0|   140| 14.0|  8.0|     0|   330|      25|    3|   1.0| 0.5|93.704912|
|      Almond Delight|  R|   C|     110|      2|  2|   200|  1.0| 14.0|     8|    -1|      25|    3|   1.0|0.75|34.384843|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 5 rows

In [18]:
cereal = spark.sql('''
                  SELECT mfr,
                        type,
                        SUM(calories) AS sum_calories,
                        MIN(calories) AS min_calories,
                        MAX(calories) AS max_calories,
                        AVG(calories) AS avg_calories,
                        COUNT(distinct name) AS count_distinct_names,
                        COUNT(name) AS count_names
                  FROM cereal
                  GROUP BY mfr, type
                  ORDER BY mfr, type
                  ''')
cereal.show()

+---+----+------------+------------+------------+------------------+--------------------+-----------+
|mfr|type|sum_calories|min_calories|max_calories|      avg_calories|count_distinct_names|count_names|
+---+----+------------+------------+------------+------------------+--------------------+-----------+
|  G|   C|        2450|         100|         140|111.36363636363636|                  22|         22|
|  K|   C|        2500|          50|         160|108.69565217391305|                  23|         23|
|  N|   C|         420|          70|          90|              84.0|                   5|          5|
|  P|   C|         980|          90|         120|108.88888888888889|                   9|          9|
|  Q|   C|         660|          50|         120| 94.28571428571429|                   7|          7|
|  R|   C|         920|          90|         150|             115.0|                   8|          8|
+---+----+------------+------------+------------+------------------+--------------------+-----------+

In [19]:
cereal = spark.sql('''
                  SELECT mfr,
                        type,

                        SUM(calories) AS sum_calories,
                        MIN(calories) AS min_calories,
                        MAX(calories) AS max_calories,
                        cast (AVG(calories) AS decimal (10,2)) AS avg_calories,

                        SUM(carbo) AS sum_carbo,
                        MIN(carbo) AS min_carbo,
                        MAX(carbo) AS max_carbo,
                        cast (AVG(carbo) AS decimal (10,2)) AS avg_carbo,

                        SUM(vitamins) AS sum_vitamins,
                        MIN(vitamins) AS min_vitamins,
                        MAX(vitamins) AS max_vitamins,
                        cast (AVG(vitamins) AS decimal(10,2)) AS avg_vitamins,

                        COUNT(distinct name) AS count_distinct_names,
                        COUNT(name) AS count_names

                  FROM cereal
                  GROUP BY mfr, type
                  ORDER BY mfr, type
                  ''')
cereal.show()

+---+----+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|mfr|type|sum_calories|min_calories|max_calories|avg_calories|sum_carbo|min_carbo|max_carbo|avg_carbo|sum_vitamins|min_vitamins|max_vitamins|avg_vitamins|count_distinct_names|count_names|
+---+----+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|  G|   C|        2450|         100|         140|      111.36|    324.0|     10.5|     21.0|    14.73|         775|          25|         100|       35.23|                  22|         22|
|  K|   C|        2500|          50|         160|      108.70|    348.0|      7.0|     22.0|    15.13|         800|          25|         100|       34.78|                  23|         23|
|  N|   C|         420|          70|          90|       84.00|     75.0|      5.0|     20.0|    15.00|          50|           0|          25|       10.00|                   5|          5|
|  P|   C|         980|          90|         120|      108.89|    119.0|     11.0|     17.0|    13.22|         225|          25|          25|       25.00|                   9|          9|
|  Q|   C|         660|          50|         120|       94.29|     81.0|      8.0|     14.0|    11.57|         100|           0|          25|       14.29|                   7|          7|
|  R|   C|         920|          90|         150|      115.00|    141.0|     14.0|     23.0|    17.63|         200|          25|          25|       25.00|                   8|          8|
+---+----+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+

In [20]:
cereal = spark.sql('''
                  SELECT mfr,
                        type,
                        (CASE
                          WHEN mfr = 'G' then 'Abacaxi'
                          WHEN mfr = 'K' then 'Goiaba'
                          WHEN mfr = 'N' then 'Banana'
                          WHEN mfr = 'P' then 'Tomate'
                          WHEN mfr = 'Q' then 'Uva'
                          WHEN mfr = 'R' then 'Melancia'
                          ELSE 'NA'
                        END) as fruit_type,

                        SUM(calories) AS sum_calories,
                        MIN(calories) AS min_calories,
                        MAX(calories) AS max_calories,
                        cast (AVG(calories) AS decimal (10,2)) AS avg_calories,

                        SUM(carbo) AS sum_carbo,
                        MIN(carbo) AS min_carbo,
                        MAX(carbo) AS max_carbo,
                        cast (AVG(carbo) AS decimal (10,2)) AS avg_carbo,

                        SUM(vitamins) AS sum_vitamins,
                        MIN(vitamins) AS min_vitamins,
                        MAX(vitamins) AS max_vitamins,
                        cast (AVG(vitamins) AS decimal(10,2)) AS avg_vitamins,

                        COUNT(distinct name) AS count_distinct_names,
                        COUNT(name) AS count_names

                  FROM cereal
                  GROUP BY mfr, type
                  ORDER BY mfr, type
                  ''')
cereal.show()

+---+----+----------+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|mfr|type|fruit_type|sum_calories|min_calories|max_calories|avg_calories|sum_carbo|min_carbo|max_carbo|avg_carbo|sum_vitamins|min_vitamins|max_vitamins|avg_vitamins|count_distinct_names|count_names|
+---+----+----------+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|  G|   C|   Abacaxi|        2450|         100|         140|      111.36|    324.0|     10.5|     21.0|    14.73|         775|          25|         100|       35.23|                  22|         22|
|  K|   C|    Goiaba|        2500|          50|         160|      108.70|    348.0|      7.0|     22.0|    15.13|         800|          25|         100|       34.78|                  23|         23|
|  N|   C|    Banana|         420|          70|          90|       84.00|     75.0|      5.0|     20.0|    15.00|          50|           0|          25|       10.00|                   5|          5|
|  P|   C|    Tomate|         980|          90|         120|      108.89|    119.0|     11.0|     17.0|    13.22|         225|          25|          25|       25.00|                   9|          9|
|  Q|   C|       Uva|         660|          50|         120|       94.29|     81.0|      8.0|     14.0|    11.57|         100|           0|          25|       14.29|                   7|          7|
|  R|   C|  Melancia|         920|          90|         150|      115.00|    141.0|     14.0|     23.0|    17.63|         200|          25|          25|       25.00|                   8|          8|
+---+----+----------+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+

## Joins

### Inner JOIN

In [22]:

sales = spark.read.csv('/content/drive/MyDrive/6. Estudos/1. FIAP/Fase 3 - Big Data/bases/sales_data_sample.csv', sep=',', inferSchema = True, header = True)
sales.show()

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|   STATE|POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|      NY|     10022|      USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        NULL|        Reims|    NULL|     51100|   France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        NULL|        Paris|    NULL|     75508|   France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        NULL|     Pasadena|      CA|     90003|      USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        NULL|San Francisco|      CA|      NULL|      USA|       NA|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|        NULL|   Burlingame|      CA|     94217|      USA|       NA|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|        NULL|        Lille|    NULL|     59000|   France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|    100.0|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|        NULL|       Bergen|    NULL|    N 5804|   Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|        NULL|San Francisco|      CA|      NULL|      USA|       NA|         Murphy|           Julie|   Small|
|      10211|             41|    100.0|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|        NULL|        Paris|    NULL|     75016|   France|     EMEA|        Perrier|       Dominique|  Medium|
|      10223|             37|    100.0|              1|3965.66| 2/20/2004 0:00|Shipped|     1|       2|   2004|Motorcycles|  95|   S10_1678|Australian Collec...|    03 9520 4555|   636 St Kilda Road|     Level 3|    Melbourne|Victoria|      3004|Australia|     APAC|       Ferguson|           Peter|  Medium|
|      10237|             23|    100.0|              7|2333.12|  4/5/2004 0:00|Shipped|     2|       4|   2004|Motorcycles|  95|   S10_1678|     Vitachrome Inc.|      2125551500|   2678 Kingston Rd.|   Suite 101|          NYC|      NY|     10022|      USA|       NA|          Frick|         Michael|   Small|
|      10251|             28|    100.0|              2|3188.64| 5/18/2004 0:00|Shipped|     2|       5|   2004|Motorcycles|  95|   S10_1678|Tekni Collectable...|      2015559350|       7476 Moss Rd.|        NULL|       Newark|      NJ|     94019|      USA|       NA|          Brown|         William|  Medium|
|      10263|             34|    100.0|              2|3676.76| 6/28/2004 0:00|Shipped|     2|       6|   2004|Motorcycles|  95|   S10_1678|     Gift Depot Inc.|      2035552570| 25593 South Bay Ln.|        NULL|  Bridgewater|      CT|     97562|      USA|       NA|           King|           Julie|  Medium|
|      10275|             45|    92.83|              1|4177.35| 7/23/2004 0:00|Shipped|     3|       7|   2004|Motorcycles|  95|   S10_1678|   La Rochelle Gifts|      40.67.8555|67, rue des Cinqu...|        NULL|       Nantes|    NULL|     44000|   France|     EMEA|        Labrune|          Janine|  Medium|
|      10285|             36|    100.0|              6|4099.68| 8/27/2004 0:00|Shipped|     3|       8|   2004|Motorcycles|  95|   S10_1678|Marta's Replicas Co.|      6175558555| 39323 Spinnaker Dr.|        NULL|    Cambridge|      MA|     51247|      USA|       NA|      Hernandez|           Marta|  Medium|
|      10299|             23|    100.0|              9|2597.39| 9/30/2004 0:00|Shipped|     3|       9|   2004|Motorcycles|  95|   S10_1678|Toys of Finland, Co.|     90-224 8555|       Keskuskatu 45|        NULL|     Helsinki|    NULL|     21240|  Finland|     EMEA|      Karttunen|           Matti|   Small|
|      10309|             41|    100.0|              5|4394.38|10/15/2004 0:00|Shipped|     4|      10|   2004|Motorcycles|  95|   S10_1678|  Baane Mini Imports|      07-98 9555|Erling Skakkes ga...|        NULL|      Stavern|    NULL|      4110|   Norway|     EMEA|     Bergulfsen|           Jonas|  Medium|
|      10318|             46|    94.74|              1|4358.04| 11/2/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|Diecast Classics ...|      2155551555|    7586 Pompton St.|        NULL|    Allentown|      PA|     70267|      USA|       NA|             Yu|           Kyung|  Medium|
|      10329|             42|    100.0|              1|4396.14|11/15/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|      NY|     10022|      USA|       NA|             Yu|            Kwai|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
only showing top 20 rows

In [24]:
sales.createOrReplaceTempView('sales')

In [26]:
sales.printSchema()

root
 |-- ORDERNUMBER: integer (nullable = true)
 |-- QUANTITYORDERED: integer (nullable = true)
 |-- PRICEEACH: double (nullable = true)
 |-- ORDERLINENUMBER: integer (nullable = true)
 |-- SALES: double (nullable = true)
 |-- ORDERDATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QTR_ID: integer (nullable = true)
 |-- MONTH_ID: integer (nullable = true)
 |-- YEAR_ID: integer (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- MSRP: integer (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTALCODE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)

In [40]:
calendar = spark.sql('''
                SELECT DISTINCT orderdate, qtr_id, month_id, year_id
                FROM sales
                ORDER BY orderdate
                ''')

sales_data = spark.sql('''
                  SELECT DISTINCT ORDERNUMBER,
                                  CUSTOMERNAME,
                                  ORDERDATE,
                                  SALES,
                                  QUANTITYORDERED,
                                  PRODUCTCODE,
                                  ORDERLINENUMBER,
                                  PRICEEACH
                  FROM sales
                  ORDER BY ORDERNUMBER
                  ''')

customers = spark.sql('''
                  SELECT DISTINCT CUSTOMERNAME,
                                  PHONE,
                                  ADDRESSLINE1,
                                  ADDRESSLINE2,
                                  CITY,
                                  STATE,
                                  POSTALCODE,
                                  COUNTRY,
                                  TERRITORY

                  FROM sales
                  ORDER BY CUSTOMERNAME
                  ''')

sales_data.createOrReplaceTempView('sales_data')
calendar.createOrReplaceTempView('calendar')
customers.createOrReplaceTempView('customers')

In [41]:
calendar.count()

252

In [42]:
sales_data.count()

2823

In [43]:
customers.count()

92

In [44]:
calendar.show()

+--------------+------+--------+-------+
|     orderdate|qtr_id|month_id|year_id|
+--------------+------+--------+-------+
|1/10/2003 0:00|     1|       1|   2003|
|1/10/2005 0:00|     1|       1|   2005|
|1/12/2004 0:00|     1|       1|   2004|
|1/12/2005 0:00|     1|       1|   2005|
|1/15/2004 0:00|     1|       1|   2004|
|1/16/2004 0:00|     1|       1|   2004|
|1/19/2005 0:00|     1|       1|   2005|
| 1/2/2004 0:00|     1|       1|   2004|
|1/20/2005 0:00|     1|       1|   2005|
|1/22/2004 0:00|     1|       1|   2004|
|1/23/2005 0:00|     1|       1|   2005|
|1/26/2004 0:00|     1|       1|   2004|
|1/26/2005 0:00|     1|       1|   2005|
|1/29/2003 0:00|     1|       1|   2003|
|1/29/2004 0:00|     1|       1|   2004|
|1/31/2003 0:00|     1|       1|   2003|
|1/31/2005 0:00|     1|       1|   2005|
| 1/5/2005 0:00|     1|       1|   2005|
| 1/6/2003 0:00|     1|       1|   2003|
| 1/6/2005 0:00|     1|       1|   2005|
+--------------+------+--------+-------+
only showing top 20 rows

In [45]:
sales_data.show()

+-----------+--------------------+--------------+-------+---------------+-----------+---------------+---------+
|ORDERNUMBER|        CUSTOMERNAME|     ORDERDATE|  SALES|QUANTITYORDERED|PRODUCTCODE|ORDERLINENUMBER|PRICEEACH|
+-----------+--------------------+--------------+-------+---------------+-----------+---------------+---------+
|      10100|Online Diecast Cr...| 1/6/2003 0:00| 3390.0|             50|   S18_2248|              2|     67.8|
|      10100|Online Diecast Cr...| 1/6/2003 0:00| 5151.0|             30|   S18_1749|              3|    100.0|
|      10100|Online Diecast Cr...| 1/6/2003 0:00|1689.03|             49|   S24_3969|              1|    34.47|
|      10100|Online Diecast Cr...| 1/6/2003 0:00|1903.22|             22|   S18_4409|              4|    86.51|
|      10101|Blauer See Auto, Co.| 1/9/2003 0:00| 1404.0|             45|   S24_1937|              3|     31.2|
|      10101|Blauer See Auto, Co.| 1/9/2003 0:00| 3782.0|             25|   S18_2325|              4|    100.0|
|      10101|Blauer See Auto, Co.| 1/9/2003 0:00|2472.96|             46|   S24_2022|              2|    53.76|
|      10101|Blauer See Auto, Co.| 1/9/2003 0:00|3773.38|             26|   S18_2795|              1|    100.0|
|      10102|     Vitachrome Inc.|1/10/2003 0:00|2055.74|             41|   S18_1367|              1|    50.14|
|      10102|     Vitachrome Inc.|1/10/2003 0:00|4808.31|             39|   S18_1342|              2|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00|3394.98|             27|   S12_1666|              8|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00|3680.28|             36|   S24_2300|              1|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00| 2539.5|             25|   S18_3136|             13|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00|1938.89|             41|   S18_4668|              9|    47.29|
|      10103|  Baane Mini Imports|1/29/2003 0:00| 3920.0|             35|   S18_1097|             10|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00|4460.82|             42|  S700_2824|              6|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00| 4228.2|             36|   S18_4600|              5|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00|3403.35|             45|   S32_3522|              7|    75.63|
|      10103|  Baane Mini Imports|1/29/2003 0:00|5398.26|             42|   S10_4962|              4|    100.0|
|      10103|  Baane Mini Imports|1/29/2003 0:00| 2011.1|             35|   S18_2957|             14|    57.46|
+-----------+--------------------+--------------+-------+---------------+-----------+---------------+---------+
only showing top 20 rows

In [46]:
customers.show()

+--------------------+-----------------+--------------------+------------+--------------+----------+----------+---------+---------+
|        CUSTOMERNAME|            PHONE|        ADDRESSLINE1|ADDRESSLINE2|          CITY|     STATE|POSTALCODE|  COUNTRY|TERRITORY|
+--------------------+-----------------+--------------------+------------+--------------+----------+----------+---------+---------+
|      AV Stores, Co.|   (171) 555-1555|   Fauntleroy Circus|        NULL|    Manchester|      NULL|   EC2 5NT|       UK|     EMEA|
|        Alpha Cognac|       61.77.6555|1 rue Alsace-Lorr...|        NULL|      Toulouse|      NULL|     31000|   France|     EMEA|
|  Amica Models & Co.|      011-4988555| Via Monte Bianco 34|        NULL|        Torino|      NULL|     10100|    Italy|     EMEA|
|Anna's Decoration...|     02 9936 8555|   201 Miller Street|    Level 15|  North Sydney|       NSW|      2060|Australia|     APAC|
|   Atelier graphique|       40.32.2555|      54, rue Royale|        NULL|        Nantes|      NULL|     44000|   France|     EMEA|
|Australian Collec...|   61-9-3844-6555|      7 Allen Street|        NULL|  Glen Waverly|  Victoria|      3150|Australia|     APAC|
|Australian Collec...|     03 9520 4555|   636 St Kilda Road|     Level 3|     Melbourne|  Victoria|      3004|Australia|     APAC|
|Australian Gift N...|   61-7-3844-6555|31 Duncan St. Wes...|        NULL|South Brisbane|Queensland|      4101|Australia|     APAC|
|  Auto Assoc. & Cie.|       30.59.8555|67, avenue de l'E...|        NULL|    Versailles|      NULL|     78000|   France|     EMEA|
|    Auto Canal Petit|   (1) 47.55.6555|   25, rue Lauriston|        NULL|         Paris|      NULL|     75016|   France|     EMEA|
|Auto-Moto Classic...|       6175558428|   16780 Pompton St.|        NULL|    Brickhaven|        MA|     58339|      USA|       NA|
|  Baane Mini Imports|       07-98 9555|Erling Skakkes ga...|        NULL|       Stavern|      NULL|      4110|   Norway|     EMEA|
|Bavarian Collecta...|+49 89 61 08 9555|        Hansastr. 15|        NULL|        Munich|      NULL|     80686|  Germany|     EMEA|
|Blauer See Auto, Co.|+49 69 66 90 2555|       Lyonerstr. 34|        NULL|     Frankfurt|      NULL|     60528|  Germany|     EMEA|
|   Boards & Toys Co.|       3105552373|    4097 Douglas Av.|        NULL|      Glendale|        CA|     92561|      USA|       NA|
|         CAF Imports|  +34 913 728 555|Merchants House, ...|        NULL|        Madrid|      NULL|     28023|    Spain|     EMEA|
|Cambridge Collect...|       6175555555|      4658 Baden Av.|        NULL|     Cambridge|        MA|     51247|      USA|       NA|
|Canadian Gift Exc...|   (604) 555-3392|        1900 Oak St.|        NULL|     Vancouver|        BC|   V3F 2K1|   Canada|       NA|
|Classic Gift Idea...|       2155554695|    782 First Street|        NULL|  Philadelphia|        PA|     71270|      USA|       NA|
|Classic Legends Inc.|       2125558493|    5905 Pompton St.|   Suite 750|           NYC|        NY|     10022|      USA|       NA|
+--------------------+-----------------+--------------------+------------+--------------+----------+----------+---------+---------+
only showing top 20 rows

In [50]:
master = spark.sql('''
                  SELECT *
                  FROM sales_data s
                  INNER JOIN customers c ON s.CUSTOMERNAME = c.CUSTOMERNAME
                  ''')

master.show()

+-----------+--------------------+---------------+-------+---------------+-----------+---------------+---------+--------------------+---------------+--------------------+------------+-----------+-----+----------+---------+---------+
|ORDERNUMBER|        CUSTOMERNAME|      ORDERDATE|  SALES|QUANTITYORDERED|PRODUCTCODE|ORDERLINENUMBER|PRICEEACH|        CUSTOMERNAME|          PHONE|        ADDRESSLINE1|ADDRESSLINE2|       CITY|STATE|POSTALCODE|  COUNTRY|TERRITORY|
+-----------+--------------------+---------------+-------+---------------+-----------+---------------+---------+--------------------+---------------+--------------------+------------+-----------+-----+----------+---------+---------+
|      10275|   La Rochelle Gifts| 7/23/2004 0:00|4177.35|             45|   S10_1678|              1|    92.83|   La Rochelle Gifts|     40.67.8555|67, rue des Cinqu...|        NULL|     Nantes| NULL|     44000|   France|     EMEA|
|      10291|Scandinavian Gift...|  9/8/2004 0:00|7136.19|             37|   S10_1949|             11|    100.0|Scandinavian Gift...|   0695-34 6555|        ?kergatan 24|        NULL|      Boras| NULL|  S-844 67|   Sweden|     EMEA|
|      10382|Mini Gifts Distri...| 2/17/2005 0:00|4071.85|             37|   S12_3148|             11|    100.0|Mini Gifts Distri...|     4155551450|     5677 Strong St.|        NULL| San Rafael|   CA|     97562|      USA|       NA|
|      10278|  Signal Gift Stores|  8/6/2004 0:00|4667.86|             34|   S18_1129|              6|    100.0|  Signal Gift Stores|     7025551838|     8489 Strong St.|        NULL|  Las Vegas|   NV|     83030|      USA|       NA|
|      10207|Diecast Collectables| 12/9/2003 0:00|7060.24|             44|   S18_2238|              6|    100.0|Diecast Collectables|     6175552555|      6251 Ingle Ln.|        NULL|     Boston|   MA|     51003|      USA|       NA|
|      10246|Euro Shopping Cha...|  5/5/2004 0:00| 6549.2|             40|   S18_2238|              4|    100.0|Euro Shopping Cha...| (91) 555 94 44|  C/ Moralzarzal, 86|        NULL|     Madrid| NULL|     28034|    Spain|     EMEA|
|      10184|Iberia Gift Impor...|11/14/2003 0:00|1863.41|             31|   S24_1444|              3|    60.11|Iberia Gift Impor...| (95) 555 82 82|       C/ Romero, 33|        NULL|    Sevilla| NULL|     41101|    Spain|     EMEA|
|      10407|The Sharp Gifts W...| 4/22/2005 0:00| 2576.0|             64|   S24_1628|             10|    40.25|The Sharp Gifts W...|     4085553659|      3086 Ingle Ln.|        NULL|   San Jose|   CA|     94217|      USA|       NA|
|      10324|     Vitachrome Inc.| 11/5/2004 0:00|3820.44|             31|   S24_2300|              2|    100.0|     Vitachrome Inc.|     2125551500|   2678 Kingston Rd.|   Suite 101|        NYC|   NY|     10022|      USA|       NA|
|      10394|Euro Shopping Cha...| 3/15/2005 0:00| 1789.4|             46|   S24_2840|              6|     38.9|Euro Shopping Cha...| (91) 555 94 44|  C/ Moralzarzal, 86|        NULL|     Madrid| NULL|     28034|    Spain|     EMEA|
|      10332|      AV Stores, Co.|11/17/2004 0:00|1859.44|             44|   S24_2887|             11|    42.26|      AV Stores, Co.| (171) 555-1555|   Fauntleroy Circus|        NULL| Manchester| NULL|   EC2 5NT|       UK|     EMEA|
|      10361|Souveniers And Th...|12/17/2004 0:00|3544.17|             49|   S32_4289|              2|    72.33|Souveniers And Th...|+61 2 9495 8555|Monitor Money Bui...|     Level 6|  Chatswood|  NSW|      2067|Australia|     APAC|
|      10375|   La Rochelle Gifts|  2/3/2005 0:00| 3224.2|             49|   S50_1341|              5|     65.8|   La Rochelle Gifts|     40.67.8555|67, rue des Cinqu...|        NULL|     Nantes| NULL|     44000|   France|     EMEA|
|      10383|Euro Shopping Cha...| 2/22/2005 0:00|3087.05|             29|   S50_1392|             13|    100.0|Euro Shopping Cha...| (91) 555 94 44|  C/ Moralzarzal, 86|        NULL|     Madrid| NULL|     28034|    Spain|     EMEA|
|      10135|Mini Gifts Distri...|  7/2/2003 0:00| 4224.0|             44|   S50_4713|             15|     96.0|Mini Gifts Distri...|     4155551450|     5677 Strong St.|        NULL| San Rafael|   CA|     97562|      USA|       NA|
|      10401|Tekni Collectable...|  4/3/2005 0:00|2018.31|             21|  S700_2834|              2|    96.11|Tekni Collectable...|     2015559350|       7476 Moss Rd.|        NULL|     Newark|   NJ|     94019|      USA|       NA|
|      10373|Oulu Toy Supplies...| 1/31/2005 0:00| 2502.9|             45|  S700_4002|             17|    55.62|Oulu Toy Supplies...|     981-443655|         Torikatu 38|        NULL|       Oulu| NULL|     90110|  Finland|     EMEA|
|      10209|Men 'R' US Retail...|  1/9/2004 0:00|2145.12|             48|   S72_1253|              3|    44.69|Men 'R' US Retail...|     2155554369|    6047 Douglas Av.|        NULL|Los Angeles|   CA|      NULL|      USA|       NA|
|      10292|   Land of Toys Inc.|  9/8/2004 0:00|4554.94|             26|   S18_2238|              7|    100.0|   Land of Toys Inc.|     2125557818|897 Long Airport ...|        NULL|        NYC|   NY|     10022|      USA|       NA|
|      10196|    Super Scale Inc.|11/26/2003 0:00|3564.75|             35|   S18_3259|              3|    100.0|    Super Scale Inc.|     2035559545|567 North Pendale...|        NULL|  New Haven|   CT|     97823|      USA|       NA|
+-----------+--------------------+---------------+-------+---------------+-----------+---------------+---------+--------------------+---------------+--------------------+------------+-----------+-----+----------+---------+---------+
only showing top 20 rows

In [52]:
master_city = spark.sql('''
                  SELECT DISTINCT s.ORDERNUMBER, c.CITY
                  FROM sales_data s
                  INNER JOIN customers c ON s.CUSTOMERNAME = c.CUSTOMERNAME
                  ''')

master_city.show()

+-----------+-------------+
|ORDERNUMBER|         CITY|
+-----------+-------------+
|      10300|    Frankfurt|
|      10385|   San Rafael|
|      10241|   Strasbourg|
|      10182|   San Rafael|
|      10140|   Burlingame|
|      10153|       Madrid|
|      10293|       Torino|
|      10161|      Aaarhus|
|      10406|    Kobenhavn|
|      10414|       Boston|
|      10311|       Madrid|
|      10357|   San Rafael|
|      10195| White Plains|
|      10189|     Pasadena|
|      10422|    Allentown|
|      10111|San Francisco|
|      10204|          NYC|
|      10151|         Oulu|
|      10304|   Versailles|
|      10369|   Brickhaven|
+-----------+-------------+
only showing top 20 rows